<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UAD Логістична система</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bg.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/navbar.css" rel="stylesheet" />
</head>
<body style="min-height: 100vh; display: grid; background: linear-gradient(to bottom, #1a1a1a 0%, #1a1a1a 60%, #303030 100%); background-size: cover; overflow:hidden;">
    <div class="navbar-fixed-top">
        <div class="container-fluid con">
            <div class="row-no-gutters">
                <div class="col-sm-11"></div>
                @{
                    if (Session["CurrentOTP"] != null)
                    {
                        <div class="col-sm-1 frame">
                            <a href="@Url.Action("Logout", "Home")">
                                <img class="lout" src="~/Content/images/logout.png" />
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-1 col-md-1"></div>
                    }
                }

            </div>
        </div>
    </div>
    @{
        if (ViewBag.Title == "Користувач" || ViewBag.Title == "Адмін")
        {
            <div class="all" style="grid-area: 1 / 1;">
                <div class="label">
                    <span>U</span>
                    <span>A</span>
                    <span>D</span>
                </div>

                <div class="descr" style="text-align:center">enterprise</div>
            </div>
        }
        else if (Session["CurrentOTP"] == null)
        {
            <div class="" style="grid-area: 1 / 1; overflow:hidden;">
                <div class="blob">
                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 350">
                        <path d="M156.4,339.5c31.8-2.5,59.4-26.8,80.2-48.5c28.3-29.5,40.5-47,56.1-85.1c14-34.3,20.7-75.6,2.3-111  c-18.1-34.8-55.7-58-90.4-72.3c-11.7-4.8-24.1-8.8-36.8-11.5l-0.9-0.9l-0.6,0.6c-27.7-5.8-56.6-6-82.4,3c-38.8,13.6-64,48.8-66.8,90.3c-3,43.9,17.8,88.3,33.7,128.8c5.3,13.5,10.4,27.1,14.9,40.9C77.5,309.9,111,343,156.4,339.5z" />
                    </svg>
                </div>
            </div>
        }
        else
        {
            <div class="" style="grid-area: 1 / 1; overflow:hidden;">
                <div class="blob2">
                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 350">
                        <path d="M156.4,339.5c31.8-2.5,59.4-26.8,80.2-48.5c28.3-29.5,40.5-47,56.1-85.1c14-34.3,20.7-75.6,2.3-111  c-18.1-34.8-55.7-58-90.4-72.3c-11.7-4.8-24.1-8.8-36.8-11.5l-0.9-0.9l-0.6,0.6c-27.7-5.8-56.6-6-82.4,3c-38.8,13.6-64,48.8-66.8,90.3c-3,43.9,17.8,88.3,33.7,128.8c5.3,13.5,10.4,27.1,14.9,40.9C77.5,309.9,111,343,156.4,339.5z" />
                    </svg>
                </div>
            </div>
        }
      }
        <div class="container body-content" style="grid-area: 1 / 1;">

            @RenderBody()

        </div>

        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        @RenderSection("Scripts", false)
    </body>
</html>